body {
    background-color: black;
}
/* tag selector */
h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

/* id selector */
#id_first {
    color: yellow;
    text-align: left;
    text-decoration: none;
}

/* class selector */
.brand{
    color: aqua;
}