* {
    margin: 0;
}

body {
    background-color: black;
}

.container {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    flex-wrap: wrap;


}

.card {
    width: 30%;
    color: black;
    background-color: white;
}

.card img {
    width: 100%;
}

.card-header h2 {
    text-align: center;
    color: white;

}

.card-header {
    background-color: gray;
    padding: 20px;

}

.card:nth-child(2) .card-header {
    background-color: red;
}


.card-body p {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.card-item {

    width: 80%;
    margin-left: auto;
    margin-right: auto;


}

ul {
    list-style: none;
}

ul li {
    line-height: 25px;

}

.fa-bookmark {
    color: red;
    margin-right: 10px;

}

@media (max-width:750px)  {
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .card{
        width: 80%;
    }
    
}